$error-color: #f44336;

.login-form {
  label {
    font-weight: bold;
  }

  .form-group {
    width: 100%;
  }

  .mat-form-field {
    width: 100%;
    display: block;
  }

  button[type="submit"] {
    margin-bottom: 1.5rem;
  }
}