<mat-toolbar color="primary">
  <header class="header d-flex justify-content-between w-100">
    <h1 class="header__brand">
      <a [routerLink]="['/speeches']">ngSpeech</a>
    </h1>
    <div class="header__actions d-flex">
      <a
        [routerLink]="['/speeches/create']"
        class="mr-3 text-decoration-none"
        mat-flat-button
      >
        <mat-icon aria-hidden="true">add</mat-icon>
        New
      </a>
      <div class="username" *ngIf="user$ | async as user">
        <!-- Hi, {{ user.displayName }} -->
        <button type="button" mat-button [matMenuTriggerFor]="headerActions">
          {{ user.displayName }}
        </button>
        <mat-menu #headerActions="matMenu" xPosition="before">
          <a
            [routerLink]="['/speeches']"
            class="text-decoration-none"
            mat-menu-item
            >Your Speeches</a
          >
          <button type="button" mat-menu-item (click)="logout()">Logout</button>
        </mat-menu>
      </div>
    </div>
  </header>
</mat-toolbar>
<router-outlet></router-outlet>
