.speech-list-page__table {
  margin: 1.5rem 0;
}

.speech-list-page__header {
  margin-bottom: 3rem;
  text-align: center;
  font-weight: bold;
}

.mat-chip.mat-chip.mat-standard-chip {
  min-height: 25px;
  font-weight: normal;
}

.speech-list-page__filter {

  .mat-form-field-infix {
    border-top: 0 !important;
  }

  .mat-form-field-wrapper {
    margin: 0 0.5rem 0 0 !important;
    padding: 0 !important;
  }

}